<section class="mb-7">
  <h2 class="text-3xl font-bold">Lista de Usuarios</h2>
  <p class="text-sm font-normal tracking-wide">
    A continuación encontrarás las listas los usuarios.
  </p>
</section>

<section class="flex flex-wrap justify-between">
  <mat-form-field [style.fontSize.px]="14">
    <input
      autocomplete="off"
      placeholder="Filtra por nombre"
      matInput
      (keyup)="onFilterValueChange($event)"
    />
    <mat-icon class="icon-size-5" matPrefix>search</mat-icon>
  </mat-form-field>
</section>
