.wrapper {
  position: relative;
  display: grid;
  /* grid-auto-rows: 1fr; */
  justify-content: center;
  align-content: center;
  height: 400px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 !important;
  box-sizing: content-box;
}

.signature-pad {
  background-color: white;
  border: 1px solid green;
}

button {
  margin: 10px;
  margin-left: 10px;
}
