<form [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start start">
    <mat-form-field fxFlex="50">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required>
    </mat-form-field>

    <mat-form-field fxFlex="50">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="start start">
    <mat-form-field fxFlex="50">
      <mat-label>Number Phone</mat-label>
      <input matInput formControlName="number_phone" required>
    </mat-form-field>

    <mat-form-field fxFlex="50">
      <mat-label>Birthdate</mat-label>
      <input matInput formControlName="birthdate" required>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
</form>
