.overlay {
  background: url("/assets/img/banner.jpg") rgba(5, 5, 5, 0.39);
  background-size: cover;
  background-blend-mode: multiply;
}

button {
  -webkit-box-shadow: 9px 5px 34px 1px rgba(8,99,255,1);
-moz-box-shadow: 9px 5px 34px 1px rgba(8,99,255,1);
box-shadow: 9px 5px 34px 1px rgba(8,99,255,1);
transition:1.1s;
&:hover{
  -webkit-box-shadow: 9px 5px 34px 1px rgba(255,10,10,1);
-moz-box-shadow: 9px 5px 34px 1px rgba(255,10,10,1);
box-shadow: 9px 5px 34px 1px rgba(255,10,10,1);
}
}
